{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Events"
   or page.title == "Apply"
   or page.title == "Donate"
   or page.title == "Alumni"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        
        <a class="link" href="{{ site.url }}">
            <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </a>

        <h1 class="title">
            {% if page.title == "Home" %}
                {{ site.name }}
            {% else %}
                {{ page.title }}
            {% endif %}
        </h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}

        {% if page.title == "Home" %}
        <p>{{site.home_bio}}</p>
        {% endif %}
    </header>
{% endif %}

{% include nav.html %}
