{% if page.title == "Home" %}
<header class="header-home" style="margin-top: 125px;">
    
    <a class="link" href="{{ site.url }}">
        <img class="selfie" alt="{{ site.name }}" src="{{ site.url }}/{{ site.logo_no_text }}" />
    </a>

    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2>

    {% include social-links.html %}

    <p>{{site.home_bio}}</p>

    {% if site.apply.link %}
        <div class="text-center">
            <a id="apply-link" role="button" class="btn btn-outline-dark btn-lg" target="_blank" href="{{site.apply.link}}" rel="noopener"><h3>Apply Now!</h3></a>
        </div>
    {% endif %}
</header>
{% endif %}

{% include nav.html %}
