<nav class="nav-home">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if page.title != "About" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">About</a>
            </li>
        {% endif %}

        {% if page.title != "Events" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/events">Events</a>
            </li>
        {% endif %}

        {% if page.title != "Apply" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/apply">Apply</a>
            </li>
        {% endif %}

        {% if page.title != "Donate" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/donate">Donate</a>
            </li>
        {% endif %}

        {% if page.title != "Blog" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/blog">Blog</a>
            </li>
        {% endif %}

        {% if page.title != "Alumni" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/alumni">Alumni</a>
            </li>
        {% endif %}
    </ul>
</nav>
